p {
    color: rgb(48, 106, 139);
  }
html {
    font-size: 10px;
    font-family: 幼圆;
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
p, li {
    font-size: 16px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}
html {
    background-color:rgb(245, 192, 192)
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffeacb;
    padding: 0 20px 20px 20px;
    border: 3px solid black; 
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #85c29e;
    text-shadow: 3px 3px 2px black;
  }
img {
    display: block;
    margin: 0 auto;
}
  

  